
*.xml

*.iml

*.csh

*.fish

*.6

base/venv/bin/pip

base/venv/.Python

base/venv/bin/activate

base/venv/bin/easy_install

base/venv/bin/activate_this.py

base/venv/bin/flask

base/venv/bin/python

base/venv/bin/python3

base/venv/bin/wheel

*.6m

base/venv/bin/python-config

*.json

base/venv/bin/pip3
